{
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "trailingComma": "all",
    "semi": false,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
